<div class="single-footer-top">
    {{#if @custom.show_author }}
        <div class="author-list">
            <div class="author-images">
                {{#foreach authors limit="3"}}
                    <div class="author-image-placeholder u-placeholder square">
                        <a href="{{url}}" title="{{name}}">
                            {{#if profile_image}}
                                <img class="author-image u-object-fit" src="{{img_url profile_image size="xs"}}" alt="{{name}}" loading="lazy">
                            {{else}}
                                <span class="u-object-fit">{{> icons/avatar}}</span>
                            {{/if}}
                        </a>
                    </div>
                {{/foreach}}
            </div>
            <div class="author-meta">
                <h4 class="body-2 author-name">
                    <span>{{t "by"}}</span>
                    <span class="text-bold">{{authors}}</span>
                </h4>
            </div>
        </div>
    {{/if}}
    {{#if @custom.show_social_share }}
        {{> content-share}}
    {{/if}}
</div>