{{!-- LOAD MORE --}}
<nav class="load-more">
    <button class="button button-secondary button-disabled gh-loadmore">
        {{> "icons/spinner"}}
    </button>
    {{#if secondLink}}
        <a class="button button-text gh-loadmore" href="{{secondLink}}">{{secondText}}</a>
    {{/if}}
</nav>

{{!-- PAGINATION NUMBER --}}
{{!-- <nav class="pagination-number">
    {{#if prev}}
        <a class="newer-posts button button-secondary " href="{{page_url prev}}">{{t '← Previous' }}</a>
    {{/if}}
    <span class="page-number">{{t 'Page {page} of {pages}' page=page pages=pages}}</span>
    {{#if next}}
        <a class="older-posts button button-secondary " href="{{page_url next}}">Next &rarr;</a>
    {{/if}}
</nav> --}}