<div class="special-section-content">
	{{#foreach posts}}
	<article class="special-item loop-item{{#if feature_image}} is-image{{/if}}">
		<div class="special-item-wrap loop-item-wrap">
			<div class="loop-item-elements">
				<a href="{{url}}" class="global-link" aria-label="{{title}}"></a>
				{{#if feature_image}}
				<div class="special-item-image loop-item-image global-image">
					{{>images/loop_feature_img}}
				</div>
				{{/if}}
				<div class="special-item-content loop-item-content">
					{{>members/visibility_label}}
					{{#if @custom.show_author}}
					<div class="special-item-meta loop-item-meta global-meta">
						{{#has author="count:1"}}
						{{authors}}
						{{else has author="count:2"}}
						{{authors separator=(t " & ")}}
						{{else has author="count:>2"}}
						{{authors limit="1"}}
						{{t "and others"}}
						{{/has}}
					</div>
					{{/if}}
					<h2 class="special-item-title loop-item-title global-title">
					<a href="{{url}}" class="global-underline">{{title}}</a>
					</h2>
					{{^if feature_image}}
					{{^if custom_excerpt}}
					{{#if excerpt}}
					<p class="special-item-excerpt loop-item-excerpt">
						{{excerpt words="20"}}...
					</p>
					{{/if}}
					{{else}}
					<p class="special-item-excerpt loop-item-excerpt">
						{{custom_excerpt}}
					</p>
					{{/if}}
					{{/if}}
				</div>
			</div>
		</div>
	</article>
	{{/foreach}}
</div>