{{!< default}}
{{#post}}

<!-- HEADER -->
<header class="account-header archive-wrap archive-alternate{{#if feature_image}} is-cover{{/if}}">
  <div class="archive-container">
    <h1 class="global-title">{{title}}</h1>
    <p class="archive-description body-2">
      {{t "Unlock full access to {blog-title} and see the entire library of subscribers-only content & updates" blog-title=@site.title}}
    </p>
  </div>
  {{#if feature_image}}
    <div class="archive-cover global-image">
      {{>images/custom_feature_img}}
    </div>
  {{/if}}
</header>

<!-- PLAN CHOOSER -->
<section class="upgrade-section">
  <div class="container">
    <div class="global-heading">
      <h3>{{t "Choose your plan"}}</h3>
    </div>

    <div class="membership-cards"
         data-active-price="{{@site.portal_default_plan}}"
         data-active-price-plans="{{@site.portal_plans}}"
         {{#get "tiers" limit="all" filter="visibility:public+type:paid" as |public_paid_tiers|}}
           data-active-public-paid-tiers="{{#if public_paid_tiers}}true{{else}}false{{/if}}"
         {{/get}}>

      {{#if @site.paid_members_enabled}}
      <div class="membership-switch">
        <div class="membership-switch-wrap">
          <button data-price="monthly">{{t "Monthly"}}</button>
          <button data-price="yearly">{{t "Yearly"}}</button>
        </div>
      </div>
      {{/if}}

      {{>members/tiers free_tier=true}}
    </div>

    {{^if @member}}
    <small class="global-question">
      {{t "Already have an account?"}} <a href="{{@site.url}}/signin/">{{t "Sign in"}}</a>
    </small>
    {{/if}}
  </div>
</section>

{{/post}}