{{!< default}}

    <main class="site-main serie-page">
        
       

    {{#post}}
        {{> "content" width="narrow" isTiny=true isBook=false}}
        {{#get "posts" limit="6" filter="tags:[{{post.tags.slug}}]+id:-{{post.id}}" as |related|}}
    {{#if related}}
        <section class="section-container related-wrapper kg-canvas">
            <h3 class="section-title related-title">{{t 'Similar thoughts'}}</h3>
            <div class="post-feed{{#match @custom.blog_article_layout "!=" "Minimal"}} expanded{{/match}}{{#match @custom.blog_article_layout "Right thumbnail"}} right-thumbnail{{/match}}{{#match @custom.blog_article_layout "Text-only"}} text-only{{/match}}{{#match @custom.blog_article_layout "Card"}} feed-card kg-grid kg-grid-3col{{/match}} gh-feed">
                {{#foreach posts}}
                    {{> "loop" noDate=false}}
                {{/foreach}}
            </div>
        </section>
    {{/if}}
{{/get}}
    {{/post}}
    <div class="content-area">
    
     {{#page}}
 <section class="container-resource">
                {{#if twitter_title }}
                    {{#get "pages" filter="tag:[{{post.tag}}]" limit="all" order="published_at desc" as |content|}}
                        <div class="cards kg-grid kg-grid-4col gh-feed container medium">
                            {{#foreach content }}
                                {{> "components/card-project" showVisual=true isSmall=true imageSizes="64px"}}
                            {{/foreach}}
                        </div>
                    {{/get}}
                {{else}}
                    <div class="cards kg-grid container medium">
                        <div class="empty-state">
                            <p>✨ Hey, look like you haven't added a tag for this resource page yet! Let add it.</p>
                            <p>Step 1/ From Ghost admin, open this page</p>
                            <p>Step 2/ Open Page setting sidebar from the top right. Click X card</p>
                            <p>Step 3/ In X description, add the slug of the tag.</p>
                            <p>Step 4/ Save</p>
                        </div>
                    </div>
                {{/if}}
            </section>

  {{/page}}
</div>
   
    </main>


{{#contentFor "body_class"}}{{#if next}} paged-next{{/if}}{{#if @member}} logged-in{{/if}}{{/contentFor}}