{{!< default}}
{{#post}}
<section class="account-section">
<div class= "container">
<div class="archive-section account-header">
	<div class="archive-wrap archive-alternate{{#if feature_image}} is-cover{{/if}}">
		<div class="archive-container">
			<div class="archive-title">
				<div>
					<h1 class="global-title">{{title}}</h1>
					<p class="archive-description">
					{{if excerpt}}
						{{excerpt}}
					{{else}}
					{{t "Unlock full access to {blog-title} and see the entire library of subscribers-only content & updates" blog-title=@site.title}}</p>
					{{/if}}
				</div>
			</div>
		</div>
	</div>
	{{#if feature_image}}
	<div class="archive-cover global-image">
		{{>images/custom_feature_img}}
	</div>
	{{/if}}
</div>
  <!-- UPGRADE CTA -->
    {{#if @site.paid_members_enabled}}
    <section class="upgrade-section">
      <h2 class="h3 membership-heading global-heading">{{t "Want more perks? Become a member!"}}</h2>
	{{>members/tiers free_tier=true}}
    </section>
    {{/if}}
{{^if @member}}
<small class="global-question">{{t "Already have an account?"}} <a href="{{@site.url}}/signin/#/portal/signin">{{t "Sign in"}}</a></small>
{{/if}}
</div>
</section>
{{/post}}