<div class="kg-side-bar time-line">
    <div class="body-1 single-meta meta-sticky-top">
        <span class="post-full-visibility sub-heading single-meta-length">
            <p id={{slug}} class="aanchor-indent"></p>
            <time datetime="{{date format="YYYY-MM-DD"}}">
                {{date published_at format="MMM DD"}}
            </time>
        </span>
    </div>
</div>
<div class="timeline-content">
    {{#if showTitle}}
        {{^has visibility="public"}}
            <span class="post-full-visibility sub-heading single-visibility">
                {{#has visibility="tiers"}}
                    {{> icons/star}}
                    {{tiers}}-only post
                {{else}}
                    {{> icons/star}}
                    {{visibility}}-only post
                {{/has}}
            </span>
        {{/has}}
        {{#match tags.length ">" 1}}
            <div class="tags-list">
                {{#foreach tags limit="2"}}
                    <div class="sub-heading tag-item">
                        {{name}}
                    </div>
                {{/foreach}}
            </div>
        {{/match}}
        {{#if link}}
            <h2 class="h2 single-title">
                <a href={{#if canonical_url}}{{canonical_url}}{{else}}{{url}}{{/if}} aria-label="{{title}}">{{title}}</a>
            </h2>
        {{else}}
            <h2 class="h2 single-title">{{title}}</h2>
        {{/if}}
        <div class="view-arrow">
            {{#if link}}
                {{#if canonical_url}}{{> "icons/arrow-upright"}}{{else}}{{> "icons/arrow-right"}}{{/if}}
                <a class="u-permalink" href={{#if canonical_url}}{{canonical_url}}{{else}}{{url}}{{/if}} aria-label="{{title}}">
                </a>
            {{/if}}
        </div>

    {{/if}}
    {{#if custom_excerpt}}
        <p class="body-1">
            {{custom_excerpt}}
        </p>
    {{/if}}

    {{#if feature_image}}
        <figure class="single-media kg-width-{{width}}">
            <img 
                srcset="{{img_url feature_image size="m"}} 750w,
                        {{img_url feature_image size="l"}} 960w"
                sizes="(min-width: 1023px) 640px, 100vw" 
                src="{{img_url feature_image size="l"}}" 
                alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}">
        </figure>
    {{/if}}

    {{!-- If it's a paid serie, only show title, excerpt and feature image--}}
    {{#unless paidContent }}
        <div class="gh-content">
            {{ content }}
        </div>
    {{/unless}}

</div>
